@model IEnumerable<Task_4.Models.User>
@{
    ViewBag.Title = "List of Users";
}

<form id='form1' method="post">
    <button type="submit" asp-controller="Users" asp-action="Delete">Delete</button>
    <button type="submit" asp-controller="Users" asp-action="Block">Block</button>
    <button type="submit" asp-controller="Users" asp-action="UnBlock">UnBlock</button>

    <table class="table table-bordered table-checks">
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Login</th>
            <th>Status</th>
            <th>Date Log</th>
            <th>Date Reg</th>
            <th><input type="checkbox" name="cb_all"></th>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>@user.Status</td>
                <td>@user.DateRegistration</td>
                <td>@user.LastLoginDate</td>
                <td><input type="checkbox" class="qwe" name="selectedUsers" value="@user.UserName" /></td>
            </tr>
        }
    </table>
</form>
<script>
    var f = document.getElementById('form1');
    f.cb_all.onchange = function (e) {
        var el = e.target || e.srcElement;
        var qwe = el.form.getElementsByClassName('qwe');
        for (var i = 0; i < qwe.length; i++) {
            if (el.checked) {
                qwe[i].checked = true;
            } else {
                qwe[i].checked = false;
            }
        }
    }
</script>